/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-background-soft: #e6e6e6;
  --color-background: #b9b9b9;
  --color-background-mute: #808080;
  
  --color-border: #000000;
  --color-border-hover: #181515;
  --color-contrast: rgb(126, 112, 112);

  --color-text-light: black;
  --color-text-night: white;

  --color-development: rgba(238, 238, 13, 0.438);
  --color-completed: rgba(153, 205, 50, 0.397);

  --font-text: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: white;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
